@use "../global" as *;

header{
    margin: 0 auto;
    width: 100%;
    max-width: 80rem;
    
    nav{
        margin: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    
        .left{
            width: 3.5rem; 
        }
        
        .right{
            font-family: var(--bebas);
            a{
                color: var(--secondarycolor);
                font-size: 3rem;
                letter-spacing: 2px;
                cursor: pointer;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                transition: all 350ms ease-in;
    
                &:hover{
                    background-color: var(--hovercolor2);
                }
            }
        }
    }
}