@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:wght@600;800&display=swap');

// color
:root {
    --primarycolor:hsl(277, 100%, 93%);
    --secondarycolor:hsl(268, 84%, 61%);
    --graycolor:hsl(0, 0%, 100%);
    --hovercolor:hsl(267, 31%, 76%);
    --hovercolor2:hsl(0, 0%, 95%);
    --white:hsl(0, 0%, 0%);
    --paragraphcolor:hsl(278, 10%, 31%);
    --bebas: "Bebas Neue",cursive;
    --plus: "Plus Jakarta Sans",sans-serif;

    // fonts 
    
    --bebas: 'Bebas Neue',cursive;
    --plus: 'Plus Jakarta Sans',sans-serif;
}